<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">User maintenance</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/common"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">Security</li>
                            <li class="breadcrumb-item active" aria-current="page">Users</li>
                        </ol>
                    </nav>
                </div>
            </div>

        </div>
    </div>
    <section class="content">
    <div class="row">
<div class="col-xl-8 offset-2 col-12">
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">Add user</h4>
        </div>
        <!-- /.box-header -->
        <form autocomplete="off" th:action="@{/usuario/create}" th:object="${form}" method="post" novalidate enctype="multipart/form-data">
            <div class="box-body">
                <div class="form-group">
                    <label>Name</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ti-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Name" th:field="*{nombre}">
                        <small th:if="${#fields.hasErrors('nombre')}" class="form-text text-danger" th:text="${#fields.errors('nombre')}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Last name</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ti-user"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Last name" th:field="*{apellido}">
                        <small th:if="${#fields.hasErrors('apellido')}" class="form-text text-danger" th:text="${#fields.errors('apellido')}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ti-notepad"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Description" th:field="*{descripcion}">
                        <small th:if="${#fields.hasErrors('descripcion')}" class="form-text text-danger" th:text="${#fields.errors('descripcion')}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label>E-mail address</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ti-email"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email" th:field="*{correo}" autocomplete="off" >
                        <small th:if="${#fields.hasErrors('correo')}" class="form-text text-danger" th:text="${#fields.errors('correo')}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ti-lock"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password" th:field="*{contasena}">
                        <small th:if="${#fields.hasErrors('contasena')}" class="form-text text-danger" th:text="${#fields.errors('contasena')}"></small>
                    </div>
                </div>
            </div>
            <!-- /.box-body -->
            <div class="form-group">
            <div class="box-footer">
                <a type="submit" th:href="@{/usuario}"  class="btn btn-rounded btn-warning btn-outline mr-1">
                    <i class="ti-trash"></i> Cancel
                </a>
                <input value="Save" type="submit"  class="btn btn-rounded btn-primary btn-outline">
<!--                    <i class="ti-save-alt"></i> Guardar-->
                </input>
            </div>
            </div>
        </form>
    </div>
    <!-- /.box -->
</div>
    </div>
    </section>
    </div>
    </div>
    <!-- /.content-wrapper -->
</div>
</body>
</html>