<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

    <script th:inline="javascript">
        /*<![CDATA[*/
        var usuario = [[${usuario}]];
        var carpeta = [[${carpeta}]];
        var permiso = [[${permiso}]];
        /*]]*/
    </script>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper"  ng-app="permisoApp" ng-controller="permisoAppController">
        <div class="container">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Asignaci&oacute;n de permisos</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">

                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <section class="content">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="card">
                            <div class="card-body">
                                <div class="mailbox-read-info clearfix mb-20">
                                    <div class="float-left mr-10"><a href="#"><img src="/assets/images/5.jpg" alt="user" width="40" class="rounded-circle"></a></div>
                                    <h5 class="no-margin">
                                        <span ng-bind="usuario.nombre"></span> <span ng-bind="usuario.apellido"></span><br>
                                        <small>From: <span ng-bind="usuario.correo"></span></small>
                                        <span class="mailbox-read-time pull-right"><span ng-bind="usuario.descripcion"></span></span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <div id="jstree"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="text-danger">
                                            Para que los cambios se reflejen en el perfil del usuario, debe guardarlos presionando el boton
                                        </div>
                                        &nbsp;
                                        <div class="button-box">
                                            <button class="waves-effect waves-light btn mb-5 bg-gradient-success" ng-click="savePermission()">
                                                Guardar cambios
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row" ng-show="carpetaSelected">
                                    <div class="col-12">
                                        <p>Nombre :<span class="text-gray pl-10" ng-bind="carpetaSelected.nombre"></span> </p>
                                        <p>Descripcion :<span class="text-gray pl-10" ng-bind="carpetaSelected.descripcion"></span></p>
                                        <select class="form-control" ng-model="carpetaSelected.permiso.permiso" ng-change="changePermiso()">
                                            <option value="0">SIN ACCESO</option>
                                            <option value="1">LECTURA</option>
                                            <option value="2">ESCRITURA</option>
                                        </select>
                                    </div>
                                    <div class="col-12 mt-4 pt-4">
                                        <div>
                                            <div class="map-box">
                                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2805244.1745767146!2d-86.32675167439648!3d29.383165774894163!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88c1766591562abf%3A0xf72e13d35bc74ed0!2sFlorida%2C+USA!5e0!3m2!1sen!2sin!4v1501665415329" width="100%" height="100" frameborder="0" style="border:0" allowfullscreen></iframe>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </section>
        </div>
    </div>
    <script>
        var permisoApp = angular.module("permisoApp", []);
        permisoApp.controller("permisoAppController", function($http, $window, $timeout, $scope) {
            console.log('init');

            $scope.buildTree = function() {
                $scope.treeNodes = [];
                carpeta.forEach(function(p) {
                    let permisoChoose = 'na';
                    switch (String(p.permiso.permiso)) {
                        case '0': permisoChoose = 'na'; break;
                        case '1': permisoChoose = 'r'; break;
                        case '2': permisoChoose = 'w'; break;
                    }
                    let node = {
                        id: p.id,
                        parent: p.idParent == 0 ? '#': p.idParent,
                        text:  permisoChoose + ' - ' + p.nombre,
                        'state' : {
                            'opened' : true,
                        },
                    };
                    if (!p.directory) node.icon = "glyphicon glyphicon-file"
                    $scope.treeNodes.push(node);
                })
            }

            $scope.changePermiso = function() {
                console.log('permiso', $scope.carpetaSelected);
                let permisoChoose = 'na';
                switch ($scope.carpetaSelected.permiso.permiso) {
                    case '0': permisoChoose = 'na'; break;
                    case '1': permisoChoose = 'r'; break;
                    case '2': permisoChoose = 'w'; break;
                }
                $scope.updateChildren($scope.carpetaSelected, $scope.carpetaSelected.permiso.permiso, permisoChoose);
            };

            $scope.updateChildren = function(node, permiso, prefijo) {
                let idnode = "#" + String(node.id);
                let nombre = prefijo + ' - ' + node.nombre;
                $("#jstree").jstree('set_text', idnode, nombre);
                node.permiso.permiso = permiso;
                if (node.directory) {
                    let children = carpeta.filter(p=>p.idParent == node.id);
                    children.forEach(function(p) {
                        $scope.updateChildren(p, permiso, prefijo);
                    });
                }
            }

            $scope.savePermission = function() {
                console.log('save changed', carpeta);
                let permissions = carpeta.map(p=>p.permiso);
                permissions.forEach(function(p) {
                    p.usuario = {
                        id: usuario.id,
                    }
                })
                console.log('save changed', permissions);
                $http({
                    url: '/permisorest/save',
                    method: 'POST',
                    contentType: 'application/json',
                    data: permissions,
                }).then(function(response) {
                    console.log('response', response.data);
                    $window.location.reload();
                })
            }

            function init() {
                console.log('usuario', usuario);
                $scope.usuario = usuario;
                debugger
                carpeta.forEach(function(p) {
                    p.permiso = {
                        id: 0,
                        carpeta: {
                            id: p.id,
                        },
                        permiso: String(0),
                    };
                    if (permiso && permiso.length) {
                        let filtered = permiso.filter(q=>q.carpeta.id == p.id);
                        if (filtered && filtered.length == 1) {
                            p.permiso = filtered[0];
                            p.permiso.permiso = String(p.permiso.permiso);
                        }
                    }
                });
                console.log('carpeta', carpeta);
                console.log('permiso', permiso);
                $scope.buildTree();
                $('#jstree').jstree({
                    core: {
                        data: $scope.treeNodes,
                        'check_callback': true
                    }
                });
                // 7 bind to events triggered on the tree
                $('#jstree').on("changed.jstree", function (e, data) {
                    console.log(data.selected);
                    $scope.carpetaSelected = carpeta.filter(p=>p.id == parseInt(data.selected[0]))[0];
                    console.log('carpeta Selected', $scope.carpetaSelected);
                    $scope.$apply();
                });
                // 8 interact with the tree - either way is OK
                $('button').on('click', function () {
                    $('#jstree').jstree(true).select_node('child_node_1');
                    $('#jstree').jstree('select_node', 'child_node_1');
                    $.jstree.reference('#jstree').select_node('child_node_1');
                });
            }

            init();
        });
    </script>
</div>
</body>
</html>