<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Mantenimiento del repositorio</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="/common"><i class="mdi mdi-home-outline"></i></a></li>
                                    <li class="breadcrumb-item" aria-current="page">Repositorio</li>
                                    <li class="breadcrumb-item active" aria-current="page">Actualizar carpeta</li>
                                </ol>
                            </nav>
                        </div>

                    </div>

                </div>
            </div>
            <section class="content">
                <div class="row">
                    <div class="col-xl-8 offset-2 col-lg-12">
                        <div class="box">
                            <div class="box-header with-border">
                                <h4 class="box-title">Actualizar carpeta</h4>
                            </div>
                            <div class="table-responsive">
                                <div class="button-box" th:if="${FAIL_MESSAGE != null}">
                                    <button class="waves-effect waves-light btn btn-danger mb-5"><span th:text="${FAIL_MESSAGE}"></span></button>
                                </div>
                            </div>
                            <!-- /.box-header -->
                            <form autocomplete="off" th:action="@{/carpeta/update}" th:object="${form}" method="post" novalidate enctype="multipart/form-data">
                                <input type="hidden" th:field="*{idParent}"/>
                                <input type="hidden" th:field="*{id}"/>
                                <input type="hidden" th:field="*{directory}"/>
                                <div class="box-body">
                                    <div class="form-group">
                                        <label>Nombre*</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ti-comment-alt"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Ingrese nombre" th:field="*{nombre}">
                                            <small th:if="${#fields.hasErrors('nombre')}" class="form-text text-danger" th:text="${#fields.errors('nombre')}"></small>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>Descripci&oacute;n</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text"><i class="ti-notepad"></i></span>
                                            </div>
                                            <input type="text" class="form-control" placeholder="Ingrese descripci&oacute;n (OPCIONAL)" th:field="*{descripcion}">
                                            <small th:if="${#fields.hasErrors('descripcion')}" class="form-text text-danger" th:text="${#fields.errors('descripcion')}"></small>
                                        </div>
                                    </div>


<!--                                    <div class="box-body">

                                        <div class="demo-checkbox">
                                            <input type="checkbox"  id="myCheck" onclick="myFunction()" class="chk-col-primary" name="directorio" checked/>
                                            <label for="myCheck">¿Es carpeta?</label>
                                        </div>

                                    </div>

                                    <div id="text" style="display:none" class="form-group">
                                        <label class="col-form-label col-lg-2">Archivo</label>
                                        <div class="input-group mb-3">
                                            <input type="file" class="form-control" name="archivo" multiple="multiple" />
                                            <small th:if="${#fields.hasErrors('archivo')}" class="form-text text-danger" th:text="${#fields.errors('archivo')}"></small>
                                        </div>
                                    </div>-->


                                    <script>
                                        function myFunction() {
                                            var checkBox = document.getElementById("myCheck");
                                            var text = document.getElementById("text");
                                            if (checkBox.checked == true){
                                                text.style.display = "none";
                                            } else {
                                                text.style.display = "block";
                                            }
                                        }
                                    </script>


                                </div>
                                <!-- /.box-body -->
                                <div class="form-group">
                                    <div class="box-footer">
                                        <a th:href="@{/carpeta/regresar/{id}(id=${id})}"  class="btn btn-rounded btn-warning btn-outline mr-1">
                                            <i class="ti-trash"></i> Cancelar
                                        </a>
                                        <input value="Guardar" type="submit"  class="btn btn-rounded btn-primary btn-outline">
                                        <!--                    <i class="ti-save-alt"></i> Guardar-->
                                        </input>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- /.box -->
                    </div>
                </div>
            </section>

            <!-- Modal -->
            <div class="modal modal-right fade" id="modal-right" tabindex="-1">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Navegaci&oacute;n del sistema</h5>
                            <a type="button" class="close" data-dismiss="modal">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-footer modal-footer-uniform">
                            <a type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
                            <a type="button" class="btn btn-primary float-right">Guardar cambios</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.modal -->



        </div>
    </div>
    <!-- /.content-wrapper -->
</div>
</body>
</html>