<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
    <div class="container">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="d-flex align-items-center">
            <div class="mr-auto">
                <h3 class="page-title">Repository maintenance</h3>
                <div class="d-inline-block align-items-center">
                    <nav>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/common"><i class="mdi mdi-home-outline"></i></a></li>
                            <li class="breadcrumb-item" aria-current="page">Repository</li>
                            <li class="breadcrumb-item active" aria-current="page">Create</li>
                        </ol>
                    </nav>
                </div>

            </div>

        </div>
    </div>
    <section class="content">
    <div class="row">
<div class="col-xl-8 offset-2 col-lg-12">
    <div class="box">
        <div class="box-header with-border">
            <h4 class="box-title">Add</h4>
        </div>
        <div class="table-responsive">
            <div class="button-box" th:if="${FAIL_MESSAGE != null}">
                <button class="waves-effect waves-light btn btn-danger mb-5"><span th:text="${FAIL_MESSAGE}"></span></button>
            </div>
        </div>
        <!-- /.box-header -->
        <form autocomplete="off" th:action="@{/carpeta/create}" th:object="${form}" method="post" novalidate enctype="multipart/form-data">
            <input type="hidden" th:field="*{parentId}"/>
            <div class="box-body">
                <div class="form-group">
                    <label>Name*</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ti-comment-alt"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter name" th:field="*{nombre}">
                        <small th:if="${#fields.hasErrors('nombre')}" class="form-text text-danger" th:text="${#fields.errors('nombre')}"></small>
                    </div>
                </div>
                <div class="form-group">
                    <label>Description</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="ti-notepad"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter description (OPTIONAL)" th:field="*{descripcion}">
                        <small th:if="${#fields.hasErrors('descripcion')}" class="form-text text-danger" th:text="${#fields.errors('descripcion')}"></small>
                    </div>
                </div>


                <div class="box-body">

                    <div class="demo-checkbox">
                        <input type="checkbox"  id="myCheck" onclick="myFunction()" class="chk-col-primary" name="directorio" checked/>
                        <label for="myCheck">It's folder?</label>
                    </div>

                </div>

                <div id="text" style="display:none" class="form-group">
                    <label class="col-form-label col-lg-2">File</label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="archivo" multiple="multiple" />
                        <small th:if="${#fields.hasErrors('archivo')}" class="form-text text-danger" th:text="${#fields.errors('archivo')}"></small>
                    </div>
                </div>


                <script>
                    function myFunction() {
                        var checkBox = document.getElementById("myCheck");
                        var text = document.getElementById("text");
                        if (checkBox.checked == true){
                            text.style.display = "none";
                        } else {
                            text.style.display = "block";
                        }
                    }
                </script>


            </div>
            <!-- /.box-body -->
            <div class="form-group">
            <div class="box-footer">
                <a th:href="@{/carpeta/{id}(id=${parentId})}"  class="btn btn-rounded btn-warning btn-outline mr-1">
                    <i class="ti-trash"></i> Cancel
                </a>
                <input value="Save" type="submit"  class="btn btn-rounded btn-primary btn-outline">
<!--                    <i class="ti-save-alt"></i> Guardar-->
                </input>
            </div>
            </div>
        </form>
    </div>
    <!-- /.box -->
</div>
    </div>
    </section>

        <!-- Modal -->
        <div class="modal modal-right fade" id="modal-right" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Navegaci&oacute;n del sistema</h5>
                        <a type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <p>Selecciona la ubicaci&oacute;n</p>
                        <div class="col-12">
                            <!-- Default box -->
                            <div class="box">
                                <div class="box-header with-border">
                                    <h4 class="box-title">Repositorio</h4>
                                </div>
                                <div class="box-body">
                                    <div class="myadmin-dd dd" id="nestable">
                                        <ol class="dd-list">
                                            <li class="dd-item" data-id="2">
                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> NAFTA </div>
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="3">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> FINANZAS </div>
                                                        <ol class="dd-list">
                                                            <li class="dd-item" data-id="6">
                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> NAFTA </div>
                                                                <ol class="dd-list">
                                                                    <li class="dd-item" data-id="6">
                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> PRESUPUESTO </div>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item" data-id="6">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                        </ol>
                                                                    </li>
                                                                    <li class="dd-item" data-id="7">
                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> PRELIMINARES </div>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item" data-id="6">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                        </ol>
                                                                    </li>
                                                                    <li class="dd-item" data-id="8">
                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> PREVISION A 3 MESES </div>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item" data-id="6">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                        </ol>
                                                                    </li>
                                                                    <li class="dd-item" data-id="8">
                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> INFORME DE GESTION </div>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item" data-id="6">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                        </ol>
                                                                    </li>
                                                                </ol>
                                                            </li>
                                                            <li class="dd-item" data-id="7">
                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> NEWCOR </div>
                                                                <ol class="dd-list">
                                                                    <li class="dd-item" data-id="6">
                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> MTG </div>
                                                                        <ol class="dd-list">
                                                                            <li class="dd-item" data-id="6">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> PRESUPUESTO (Budget) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item" data-id="7">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> ANALITICA (Analityc) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item" data-id="8">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> INFORMES DERIVADOS DE ANALITICA (Analytical Reports) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> ENERO </div>
                                                                                            </li>
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> FEBRERO </div>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item" data-id="8">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> INFORME DE GESTION (Management Report) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item" data-id="8">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> VENTAS (Sales) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> INFORME DE VENTAS (Sales Report) </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                                <ol class="dd-list">
                                                                                                    <li class="dd-item" data-id="6">
                                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> ENERO </div>
                                                                                                    </li>
                                                                                                    <li class="dd-item" data-id="6">
                                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> FEBRERO </div>
                                                                                                    </li>
                                                                                                </ol>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> PREVISIONES A 3 MESES (3 Months Previsions) </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                                <ol class="dd-list">
                                                                                                    <li class="dd-item" data-id="6">
                                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> ENERO </div>
                                                                                                    </li>
                                                                                                    <li class="dd-item" data-id="6">
                                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> FEBRERO </div>
                                                                                                    </li>
                                                                                                </ol>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item" data-id="8">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> CUENTA DE EXPLOTACION (CIE PL#1) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item" data-id="8">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> PROVISIONES (Provisions) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item" data-id="8">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> DEUDA VENCIDA (Due Debt) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item" data-id="8">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> TESORERIA (Treasury) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><i class="ti-file"></i> INFORME ANUAL </div>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                            <li class="dd-item" data-id="8">
                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> INVERSIONES (CAPEX) </div>
                                                                                <ol class="dd-list">
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> GENERAL </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                                <ol class="dd-list">
                                                                                                    <li class="dd-item" data-id="6">
                                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> ENERO </div>
                                                                                                    </li>
                                                                                                    <li class="dd-item" data-id="6">
                                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> FEBRERO </div>
                                                                                                    </li>
                                                                                                </ol>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                    <li class="dd-item" data-id="6">
                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> PROYECTO </div>
                                                                                        <ol class="dd-list">
                                                                                            <li class="dd-item" data-id="6">
                                                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> AÑO (2021) </div>
                                                                                                <ol class="dd-list">
                                                                                                    <li class="dd-item" data-id="6">
                                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> ENERO </div>
                                                                                                    </li>
                                                                                                    <li class="dd-item" data-id="6">
                                                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> FEBRERO </div>
                                                                                                    </li>
                                                                                                </ol>
                                                                                            </li>
                                                                                        </ol>
                                                                                    </li>
                                                                                </ol>
                                                                            </li>
                                                                        </ol>
                                                                    </li>
                                                                    <li class="dd-item" data-id="7">
                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> RGI </div>
                                                                    </li>
                                                                </ol>
                                                            </li>
                                                            <li class="dd-item" data-id="8">
                                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> MEXICO </div>
                                                                <ol class="dd-list">
                                                                    <li class="dd-item" data-id="6">
                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> GAT </div>
                                                                    </li>
                                                                    <li class="dd-item" data-id="7">
                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> MAPREMEX </div>
                                                                    </li>
                                                                    <li class="dd-item" data-id="8">
                                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> MATIC </div>
                                                                    </li>
                                                                </ol>
                                                            </li>
                                                        </ol>
                                                    </li>
                                                    <li class="dd-item" data-id="3">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> COMERCIAL </div>
                                                    </li>
                                                    <li class="dd-item" data-id="3">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> CALIDAD </div>
                                                    </li>
                                                    <li class="dd-item" data-id="3">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> COMPRAS </div>
                                                    </li>

                                                </ol>
                                            </li>
                                            <li class="dd-item" data-id="2">
                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> MECAUTO </div>
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="3">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> FINANZAS </div>
                                                    </li>
                                                    <li class="dd-item" data-id="4">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> COMERCIAL </div>
                                                    </li>
                                                    <li class="dd-item" data-id="4">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> CALIDAD </div>
                                                    </li>
                                                    <li class="dd-item" data-id="4">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> COMPRAS </div>
                                                    </li>
                                                </ol>
                                            </li>
                                            <li class="dd-item" data-id="2">
                                                <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> MECASUR </div>
                                                <ol class="dd-list">
                                                    <li class="dd-item" data-id="3">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> FINANZAS </div>
                                                    </li>
                                                    <li class="dd-item" data-id="4">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> COMERCIAL </div>
                                                    </li>
                                                    <li class="dd-item" data-id="4">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> CALIDAD </div>
                                                    </li>
                                                    <li class="dd-item" data-id="4">
                                                        <div class="dd-handle"><span class="glyphicon glyphicon-folder-open"></span> COMPRAS </div>
                                                    </li>
                                                </ol>
                                            </li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer modal-footer-uniform">
                        <a type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
                        <a type="button" class="btn btn-primary float-right">Guardar cambios</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.modal -->



    </div>
    </div>
    <!-- /.content-wrapper -->
</div>
</body>
</html>