<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{index}">
<body>
<div layout:fragment="content">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.3.11/jstree.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />

    <script th:inline="javascript">
        /*<![CDATA[*/
        var carpeta = [[${entities}]];
        var usuarioId = [[${usuarioId}]];
        /*]]*/
    </script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <!-- Content Wrapper. Contains page content -->
    <div ng-app="permisoApp" ng-controller="permisoAppController" id="idForJS" class="content-wrapper">
        <div class="container">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="d-flex align-items-center">
                    <div class="mr-auto">
                        <h3 class="page-title">Folder view</h3>
                        <div class="d-inline-block align-items-center">
                            <nav>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a th:href="@{/carpeta/0}">
                                            <i class="mdi mdi-home-outline"></i>
                                            <span>Root</span>
                                        </a>
                                    </li>
                                    <li class="breadcrumb-item active" aria-current="page" th:each="p : ${path}">
                                        <a th:href="@{/carpeta/{id}(id=${p.id})}">
                                            <span th:text="${p.nombre}"></span>
                                        </a>
                                    </li>
                                </ol>
                            </nav>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <section class="content">
                <div class="row">



                    <div class="col-12">
                        <div th:if="${add > 1}">
                        <a th:if="${column != true}" th:align="center" th:href="@{/carpeta/create/{idParent}(idParent=${parentId})}" class="waves-effect waves-light btn mb-5 bg-gradient-primary">
                          <i class="ti-plus"></i>  Add
                        </a>
                        </div>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Repository maintenance</h3>
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <div class="table-responsive">
                                    <div class="button-box" th:if="${SUCCESS_MESSAGE != null}">
                                        <button class="waves-effect waves-light btn mb-5 bg-gradient-success"><span th:text="${SUCCESS_MESSAGE}"></span></button>
                                    </div>
                                    <div class="button-box" th:if="${UPDATE_MESSAGE != null}">
                                        <button class="waves-effect waves-light btn mb-5 bg-gradient-warning"><span th:text="${UPDATE_MESSAGE}"></span></button>
                                    </div>
                                    <div class="button-box" th:if="${DELETE_MESSAGE != null}">
                                        <button class="waves-effect waves-light btn mb-5 bg-gradient-danger"><span th:text="${DELETE_MESSAGE}"></span></button>
                                    </div>
                                    <div class="button-box" th:if="${FAIL_MESSAGE != null}">
                                        <button class="waves-effect waves-light btn btn-danger mb-5"><span th:text="${FAIL_MESSAGE}"></span></button>
                                    </div>
                                </div>
                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <div class="box-body">
                                    <div class="table-responsive">
                                        <table id="example2" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th class="w-50">Choose</th>
                                                <th>Name</th>
                                                <th>Date register</th>
                                                <th th:if="${column}">Path</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr th:each="p : ${entities}" th:if="${p.permiso > 0}">
                                                <td>
                                                    <div class="context-menu-one" th:id="'file-' + ${p.id}" th:if="${!p.directory}">
                                                        <div th:switch="${p.extension}">
                                                            <img th:case="'DOC'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_word.svg" alt="news.svg">
                                                            <img th:case="'DOCX'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_word.svg" alt="news.svg">
                                                            <img th:case="'DOCM'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_word.svg" alt="news.svg">
                                                            <img th:case="'DOTM'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_word.svg" alt="news.svg">
                                                            <img th:case="'XLSM'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_excel.svg" alt="news.svg">
                                                            <img th:case="'XLSX'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_excel.svg" alt="news.svg">
                                                            <img th:case="'XLSB'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_excel.svg" alt="news.svg">
                                                            <img th:case="'XLS'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_excel.svg" alt="news.svg">
                                                            <img th:case="'PPT'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_power.svg" alt="news.svg">
                                                            <img th:case="'PPTM'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_power.svg" alt="news.svg">
                                                            <img th:case="'POT'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_power.svg" alt="news.svg">
                                                            <img th:case="'PPTX'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_power.svg" alt="news.svg">
                                                            <img th:case="'PDF'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_pdf.svg" alt="news.svg">
                                                            <img th:case="'JPG'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_image.svg" alt="news.svg">
                                                            <img th:case="'JPEG'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_image.svg" alt="news.svg">
                                                            <img th:case="'PNG'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_image.svg" alt="news.svg">
                                                            <img th:case="'TIF'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_image.svg" alt="news.svg">
                                                            <img th:case="'GIF'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_image.svg" alt="news.svg">
                                                            <img th:case="'ZIP'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_zip.svg" alt="news.svg">
                                                            <img th:case="'RAR'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_zip.svg" alt="news.svg">
                                                            <img th:case="'XML'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_xml.svg" alt="news.svg">
                                                            <img th:case="'TXT'" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/ico_txt.svg" alt="news.svg">
                                                            <img th:case="*" class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/file.svg" alt="news.svg">

                                                        </div>
                                                    </div>
                                                    <div class="context-menu-one" th:id="'dir-' + ${p.id}" th:if="${p.directory}"
                                                         th:attr="ondblclick='openDir('+${p.id}+')'">
                                                        <img class="w-50 img-responsive"  src="/assets/vendor_components/flat-color-icons/SVG/folder.svg" alt="contacts.svg">
                                                    </div>
                                                </td>
                                                <td th:text="${p.nombre}"></td>
                                                <td>
                                                    <div th:if="${p.fechaActualizacion != null}">
                                                        <p th:text="${p.fechaActualizacion}"></p>
                                                    </div>
                                                    <div th:if="${p.fechaActualizacion == null}">
                                                        <p th:text="${p.fechaCreacion}"></p>
                                                    </div>
                                                </td>
                                                <td th:if="${p.path != null}" th:text="${p.path}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>
            <!-- /.content -->

            <div th:each="p : ${entities}" th:attr="id=${'md' + p.id}" class="modal fade text-left" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-dark"><span th:text="${p.nombre}"></span></h4>
                            <div class="container col-sm-2" th:if="${!p.directory}">
                            <div class="ml-0 mr-15 bg-primary-light h-50 w-50 l-h-50 rounded text-center">
                                <span class="font-size-24 text-primary"><i class="fa fa-file-text"></i></span>
                            </div>
                            </div>
                            <div class="container col-sm-2" th:if="${p.directory}">
                            <div class="ml-0 mr-15 bg-warning-light h-50 w-50 l-h-50 rounded text-center">
                                <span class="font-size-24 text-warning"><i class="fa fa-folder"></i></span>
                            </div>
                            </div>
                            <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <h6><p>Document description:&nbsp;<span th:text="${p.descripcion}"></span></p>
                            <p>Created:&nbsp;<span th:text="${p.fechaCreacion}"></span></p>
                            <p>User created:&nbsp;<span th:text="${p.usuarioCreacion}"></span></p>
                            <p>Updated:&nbsp;<span th:text="${p.fechaActualizacion}"></span></p>
                            <p>User updated:&nbsp;<span th:text="${p.usuarioActualizacion}"></span></p>
                            <p th:if="${!p.directory}">Extension:&nbsp;<span th:text="${p.extension}"></span></p>
                            <p th:if="${!p.directory}">Nombre del archivo:&nbsp;<span th:text="${p.nombreArchivo}"></span></p></h6>

                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-secondary" data-dismiss="modal" >
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div th:each="p : ${entities}" th:attr="id=${'mdEliminar' + p.id}" class="modal fade text-left" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title text-dark">Delete document</h4>
                            <div class="container col-sm-2">
                            <div class="ml-0 mr-15 bg-danger-light h-50 w-50 l-h-50 rounded text-center">
                                <span class="font-size-24 text-danger"><i class="fa fa-trash"></i></span>
                            </div>
                            </div>
                            <a type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <h6>
                                <p>
                                    If you delete the item you will not be able to recover it, this action cannot be undone. do you wish to continue?
                                </p>
                            </h6>
                            <h3><span th:text="${p.nombre}"></span></h3>
                        </div>
                        <div class="modal-footer">
                            <a th:href="@{/carpeta/delete/{id}(id=${p.id})}" class="btn btn-danger">Delete</a>
                            <a class="btn btn-secondary" data-dismiss="modal" >
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Cancel</span></a>
                        </div>
                    </div>
                </div>
            </div>

            <div id="moveModal" class="modal fade text-left" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="text-danger">
                                In order to move the file or folder, you must select first the location and then press the button "move".
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class="col-lg-7">
                                    <div class="card">
                                        <div class="card-body">
                                            <div id="jstree"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="text-danger">
                                                        File to move: <span ng-bind="carpetaToMove.nombre"></span>
                                                    </div>
                                                    &nbsp;
                                                    <div class="context-menu-one">
                                                        <img class="w-50 img-responsive" src="/assets/vendor_components/flat-color-icons/SVG/folder.svg" alt="contacts.svg">
                                                    </div>

                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row" ng-show="carpetaSelected">
                                                <div class="col-12 pt-3">
                                                    <div class="text-danger">
                                                        Destiny folder
                                                    </div>
                                                    <p>Name <span class="text-gray pl-10" ng-bind="carpetaSelected.nombre"></span> </p>
                                                    <p>Description <span class="text-gray pl-10" ng-bind="carpetaSelected.descripcion"></span></p>
                                                    <div class="context-menu-one">
                                                        <img class="w-50 img-responsive" src="/assets/vendor_components/flat-color-icons/SVG/folder.svg" alt="contacts.svg">
                                                    </div>
                                                    <div class="button-box">
                                                        <button class="waves-effect waves-light btn mb-5 bg-gradient-success" ng-click="moveFile()">
                                                            Move
                                                        </button>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-secondary" data-dismiss="modal" >
                                <i class="bx bx-check d-block d-sm-none"></i>
                                <span class="d-none d-sm-block">Close</span></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- /.content-wrapper -->
    <script>
        function openDir(id) {
            console.log('if', id);
            window.location.href = '/carpeta/' + id;
        }
        $(document).ready(function() {
            console.log('permisos', carpeta);
            $.contextMenu({
                selector: '.context-menu-one',
                callback: function(key, options) {
                    let id = $(this).attr('id');
                    let numberId = id.split('-')[1];
                    let type = id.split('-')[0];

                    if (key == 'edit') {
                        let cs = carpeta.filter(p=>p.id == parseInt(numberId))[0]
                        if (cs.permiso > 1) {
                            window.location.href = '/carpeta/update/' + numberId;
                        } else {
                            swal({
                                title:"Not allowed!",
                                text: "You do not have permissions for this option",
                                type: "danger",
                            })
                        }
                    }
                    if (key == 'delete') {
                        let cs = carpeta.filter(p=>p.id == parseInt(numberId))[0]
                        if (cs.permiso > 1) {
                            $('#mdEliminar'+numberId).modal('show');
                        } else {
                            swal({
                                title:"Not allowed!",
                                text: "You do not have permissions for this option",
                                type: "danger",
                            })
                        }
                    }
                    if (key =='info'){
                        $('#md'+numberId).modal('show');
                    }
                    if (key =='download'){
                        console.log('type ---->', type)
                        if (type == 'file'){
                            window.location.href = '/carpeta/media/' + numberId;
                        }
                    }
                    if (key == 'move') {
                        console.log('move-element', parseInt(numberId));
                        var scope = angular.element(document.getElementById('idForJS')).scope();
                        scope.javaScriptCallAngular(parseInt(numberId), usuarioId);
                    }
                },
                items: {
                    "edit": {name: "Edit", icon: "edit"},
                    "delete": {name: "Delete", icon: "delete"},
                    "info": {name: "Get information", icon: "fa-info-circle"},
                    "download": {name: "Download", icon: "fa-cloud-download"},
                    "move": {name: "Move", icon: "fa-clone"},
                    "sep1": "---------",
                    "quit": {name: "Close", icon: function(){
                            return 'context-menu-icon context-menu-icon-quit';
                        }}
                }
            });

            $('.context-menu-one').on('click', function(e){
                console.log('clicked', this);
            })
        });

        var permisoApp = angular.module("permisoApp", []);
        permisoApp.controller("permisoAppController", function($http, $window, $timeout, $scope) {
            $scope.buildTree = function() {
                $scope.treeNodes = [];
                $scope.carpeta.forEach(function(p) {
                    let permisoChoose = 'na';
                    switch (String(p.permiso.permiso)) {
                        case '0': permisoChoose = 'na'; break;
                        case '1': permisoChoose = 'r'; break;
                        case '2': permisoChoose = 'w'; break;
                    }
                    let node = {
                        id: p.id,
                        parent: p.idParent == 0 ? '#': p.idParent,
                        text:  p.nombre,
                        'state' : {
                            'opened' : false,
                        },
                    };
                    if (!p.directory) node.icon = "glyphicon glyphicon-file"
                    $scope.treeNodes.push(node);
                })
            }

            $scope.changePermiso = function() {
                console.log('permiso', $scope.carpetaSelected);
                let permisoChoose = 'na';
                switch ($scope.carpetaSelected.permiso.permiso) {
                    case '0': permisoChoose = 'na'; break;
                    case '1': permisoChoose = 'r'; break;
                    case '2': permisoChoose = 'w'; break;
                }
                $scope.updateChildren($scope.carpetaSelected, $scope.carpetaSelected.permiso.permiso, permisoChoose);
            };

            $scope.updateChildren = function(node, permiso, prefijo) {
                let idnode = "#" + String(node.id);
                let nombre = prefijo + ' - ' + node.nombre;
                $("#jstree").jstree('set_text', idnode, nombre);
                node.permiso.permiso = permiso;
                if (node.directory) {
                    let children = carpeta.filter(p=>p.idParent == node.id);
                    children.forEach(function(p) {
                        $scope.updateChildren(p, permiso, prefijo);
                    });
                }
            }

            $scope.moveFile = function() {
                console.log('$scope.carpetaToMove', $scope.carpetaToMove);
                console.log('save changed', $scope.carpetaSelected);
                $window.location = '/carpeta/move/' + $scope.carpetaToMove.id + '/' + $scope.carpetaSelected.id;
            }

            $scope.javaScriptCallAngular = function(value, usuarioId) {
                $scope.usuarioId = usuarioId;
                $scope.carpetaId = value;
                Promise.all([
                    $http({
                        url: '/permisorest/carpeta/' + usuarioId,
                        method: 'GET',
                        contentType: 'application/json',
                    }).then(function(response) {
                        console.log('carpeta', response.data);
                        $scope.carpeta = response.data;
                        console.log('response', $scope.carpeta);
                    }),
                    $http({
                        url: '/permisorest/permiso/' + usuarioId,
                        method: 'GET',
                        contentType: 'application/json',
                    }).then(function(response) {

                        $scope.permiso = response.data;
                        $scope.permiso = $scope.permiso.filter(p=>p.permiso == 2);
                        console.log('permiso', $scope.permiso);
                    })
                ]).then(values => {
                    console.log('values', values);
                    init();
                });
            };

            function init() {
                debugger
                $scope.carpeta.forEach(function(p) {
                    p.permiso = {
                        id: 0,
                        carpeta: {
                            id: p.id,
                        },
                        permiso: String(0),
                    };
                    if ($scope.permiso && $scope.permiso.length) {
                        let filtered = $scope.permiso.filter(q=>q.carpeta.id == p.id);
                        if (filtered && filtered.length == 1) {
                            p.permiso = filtered[0];
                            p.permiso.permiso = String(p.permiso.permiso);
                        }
                    }
                });
/*                $scope.carpeta = $scope.carpeta.filter(r=>r.permiso && r.permiso.permiso == "2" && r.directory);*/
                $scope.carpeta = $scope.carpeta.filter(r=>r.permiso && r.permiso.permiso == "2");
                $scope.carpetaToMove = $scope.carpeta.filter(r=>r.id == $scope.carpetaId)[0];
                console.log('carpetaToMove', $scope.carpetaToMove);
                console.log('carpeta dilter', $scope.carpeta);
                console.log('permiso filter',$scope.permiso);
                $scope.buildTree();
                $('#jstree').jstree({
                    core: {
                        data: $scope.treeNodes,
                        'check_callback': true
                    }
                });
                // 7 bind to events triggered on the tree
                $('#jstree').on("changed.jstree", function (e, data) {
                    console.log(data.selected);
                    $scope.carpetaSelected = $scope.carpeta.filter(p=>p.id == parseInt(data.selected[0]))[0];
                    console.log('carpeta Selected', $scope.carpetaSelected);
                    $scope.$apply();
                });
                // 8 interact with the tree - either way is OK
                $('button').on('click', function () {
                    $('#jstree').jstree(true).select_node('child_node_1');
                    $('#jstree').jstree('select_node', 'child_node_1');
                    $.jstree.reference('#jstree').select_node('child_node_1');
                });

                $('#moveModal').modal('show');
                $scope.$apply();
            }

            });
    </script>

</div>
</body>
</html>