<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="private-sidebar">
    <aside class="main-sidebar">
        <!-- sidebar-->
        <section class="sidebar">
            <div class="user-profile px-20 py-15">
                <div class="d-flex align-items-center">
                    <div class="image">
                        <img src="/assets/images/avatar/avatar-13.png" class="avatar avatar-lg bg-primary-light" alt="User Image">
                    </div>
                    <div class="info">
                        <a class="dropdown-toggle px-20" data-toggle="dropdown" href="#"><span th:text ="${#authentication.getName()}"></span></a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#"><i class="ti-user"></i> Profile</a>
                            <a class="dropdown-item" href="#"><i class="ti-email"></i> Inbox</a>
                            <a class="dropdown-item" href="#"><i class="ti-link"></i> Connections</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                        </div>
                    </div>
                </div>
                <ul class="list-inline profile-setting mt-30 mb-20 d-flex justify-content-between">
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Find"><i data-feather="search"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Notification"><i data-feather="bell"></i></a></li>
                    <li><a href="#" data-toggle="tooltip" data-placement="top" title="Chat"><i data-feather="message-square"></i></a></li>
                    <li><a th:href="@{/logout}" data-toggle="tooltip" data-placement="top" title="Logout"><i data-feather="log-out"></i></a></li>
                </ul>
            </div>

            <!-- sidebar menu-->
            <ul class="sidebar-menu" data-widget="tree">
                <li class="treeview">
                    <a href="#">
                        <i class="icon-Layout-4-blocks"><span class="path1"></span><span class="path2"></span></i>
                        <span>Dashboard</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/common"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Principal</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN')"  class="header">Security</li>
                <li sec:authorize="hasAnyAuthority('ADMIN')"  class="treeview">
                    <a href="#">
                        <i class="icon-Write"><span class="path1"></span><span class="path2"></span></i>
                        <span>Users</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/usuario"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Users</a></li>
                        <li><a href="/rol"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Profile</a></li>
                        <li><a href="/usuarioperfil"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Assign profile</a></li>
                        <li><a href="/permiso/permiso"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Assign permissions</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN','DIRECCION')"  class="header">Catalogs</li>
                <li sec:authorize="hasAnyAuthority('ADMIN','DIRECCION')"  class="treeview">
                    <a  sec:authorize="hasAnyAuthority('ADMIN','DIRECCION')" href="#">
                        <i class="icon-File"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                        <span>Maintenance</span>
                        <span class="pull-right-container">
                            <i class="fa fa-angle-right pull-right"></i>
                         </span>
                    </a>
                    <ul  sec:authorize="hasAnyAuthority('ADMIN','DIRECCION')" class="treeview-menu">
                        <li><a href="/carpeta/0"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Repository</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN')" class="treeview">
                    <a sec:authorize="hasAnyAuthority('ADMIN')" href="#">
                        <i  class="icon-Book-open"><span class="path1"></span><span class="path2"></span></i>
                        <span>Logs</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                    </a>
                    <ul sec:authorize="hasAnyAuthority('ADMIN')" class="treeview-menu">
                        <li><a href="/tracking"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Registers</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN')"  class="header">About</li>
                <li sec:authorize="hasAnyAuthority('ADMIN')"  class="treeview">
                    <a href="#">
                        <i class="icon-User"><span class="path1"></span><span class="path2"></span></i>
                        <span>User's manual</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>User's manual</a></li>
                    </ul>
                </li>
                <li sec:authorize="hasAnyAuthority('ADMIN')"  class="treeview">
                    <a href="#">
                        <i class="icon-Clipboard"><span class="path1"></span><span class="path2"></span><span class="path3"></span><span class="path4"></span></i>
                        <span>Admin manual</span>
                        <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="#"><i class="icon-Commit"><span class="path1"></span><span class="path2"></span></i>Admin manual</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </aside>
</div>
</body>
</html>

